name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/github.com/giansalex/whatsapp-go
    env:
      GOPATH: ${{ github.workspace }}
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: src/github.com/giansalex/whatsapp-go

    - name: Get dependencies
      run: |
        mkdir -p $GOPATH/bin
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            $GOPATH/bin/dep ensure
        fi
    - name: Build
      run: go build -v .
